.clue-page {
  background-color: #060CE9;
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 3px 3px #000000;
  vertical-align: middle;
  line-height: 100%;
}

.text {
  text-shadow: 3px 3px #000000;
  margin: 25% 20px 0 20px;
  font-size: 30px;
  line-height: 36px;
}

.clue-text {
  color: #FFFFFF;
}

.answer-text {
  color: #FFCC00;
  font-size: 50px;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}